/*
Assume there will be ONLY ONE form
*/
form {
    width: 100%;
    min-width: 500px;
    margin: 60px 10%;
}

/*
TODO: add quick responsive loading for personal mobile use
*/

.question-container{
    display: block;
    margin: 10px auto;
    font-size: 24px;
}

.question-container label{
    width: 120px;
    display: inline-block;
    text-align: center;
    padding: 5px auto;
}

.question-container input{
    display: inline-block;
    width: 55px;
    height: 30px;
}